<div class="wrapper" [ngClass]="{dark: darkMode, light: !darkMode}">
    <main class="content">
        <h1 id="logo">⌘</h1>
        <h1>kbar-angular</h1>
        <p>
            <a href="https://github.com/krystxf/kbar-angular" target="_blank">kbar</a> is a fully extensible command+k
            interface for your site.
            <br />
            <br />
            try it out by pressing <kbd>ctrl</kbd> + <kbd>k</kbd>
        </p>

        <h2>Features</h2>
        // todo

        <h2>Example</h2>
        <h3>component class</h3>
        <app-code [code]="CLASS_EXAMPLE"></app-code>
        <h3>component template</h3>
        <app-code [code]="TEMPLATE_EXAMPLE"></app-code>


        <h2>Customization</h2>
        // todo
    </main>
</div>