<main>
    <div class="flex w-full justify-center">
        <div>⌘</div>
        <h1>kbar-angular</h1>
    </div>

    <p>
        <a href="https://github.com/krystxf/kbar-angular" target="_blank">kbar</a> is a fully extensible command+k
        interface for your site.
        <br />
        <br />
        try it out by pressing <kbd>ctrl</kbd> + <kbd>k</kbd>
    </p>

    <h2>Features</h2>
    // todo

    <h2>Example</h2>
    <h3>component class</h3>
    <app-code-snippet [code]="CLASS_EXAMPLE"></app-code-snippet>
    <h3>component template</h3>
    <app-code-snippet [code]="TEMPLATE_EXAMPLE"></app-code-snippet>


    <h2>Customization</h2>
    // todo
</main>